.marsa-diagram img.background {
	position: absolute;
	z-index: 201;
}
.marsa-diagram h6.category {
	display: none;
}
.marsa-diagram .wrapper {
	z-index: 202;
}
.marsa-diagram .title {
	position: absolute;
	z-index: 203;
	left: 42%;
	top: 13%;
}
.marsa-diagram .element {
	position: absolute;
	z-index: 205;
	left: 42%;
	top: 13%;
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-ms-transition: all 0.8s;
	-o-transition: all 0.8s;
}

.marsa-diagram .connector {
	position: absolute;
	display: inline-block;
	z-index: 204;
}
.marsa-diagram .connector.active {
	color: #FBF59B;
}
.marsa-diagram .connector.active svg {
	stroke: #FBF59B;
	fill: currentColor;
}

@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 640px) {
	.marsa-diagram h6.category {
		display: block;
	}
	.marsa-diagram .title {
		position: static;
	}
	.marsa-diagram .element {
		position: static;
	}
	.marsa-diagram .connector {
		display: none;
	}
}
