[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.four-slide .item-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}
.four-slide .item-wrapper .item-inner {
	padding: 5%;
}
.four-slide .item-wrapper .item-inner h2 {
	position: relative;
	cursor: pointer;
	overflow: hidden;
	margin: 0 0 15px 0;
	padding: 0 0 10px 0;
}

.four-slide .item-wrapper .item-inner .summary {
	font-weight: bold;
	line-height: 150%;
}

.four-slide .item-wrapper.hover svg path,
.four-slide .item-wrapper:hover svg path {
	/*fill: #FDF496; */
}

/* bb-bookblock */
.bb-bookblock .item-wrapper .item-inner {
	position: relative;
	padding: 5%;
}
.bb-bookblock .item-wrapper h2 {
	margin: 0;
	font-size: 1.5em;
	font-weight: bold;
	letter-spacing: -0.025em;
	color: #818285;
	padding: 0 0 10px 0;
}
.bb-bookblock .item-wrapper .summary {
	color: #000;
	line-height: 150%;
}
.bb-bookblock .item-wrapper .content {
	line-height: 150%;
	padding-top: 3%;
}
.bb-bookblock .item-wrapper .item-content {
}
.sewol-timeline .timeline-item .item-content .text {
	padding: 15px;
	background: #95D3C2;
}
.sewol-timeline .timeline-item .item-content .text .close {
	position: absolute;
	z-index: 1000000;
	right: 0;
	top: 0;
	width: 30px;
	height: 30px;
	border: 1px solid #fff;
	border-radius: 15px;
	overflow: hidden;
	cursor: pointer;
	background: #95D3C2;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.sewol-timeline .timeline-item .item-content .text .close:after {
	position: absolute;
	z-index: 1000001;
	left: 8px;
	top: 7px;
	width: 30px;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	content: '\e619';
	font-size: 15px;
	color: #fff;
}
.sewol-timeline .timeline-item .item-content .text .close:hover {
	background: #FEF59C;
	border-color: #2C445A;
}
.sewol-timeline .timeline-item .item-content .text .close:hover:after {
	color: #2C445A;
}
.sewol-timeline .timeline-item .item-content .text .close span.icon-close {
	display: none;
}
.sewol-timeline .timeline-item .item-content .text .text-wrap {
	width: 100%;
	height: 100%;
	border: 1px solid #fff;
}
.sewol-timeline .timeline-item .item-content .text .text-wrap:after {
	clear: both;
	content: ' ';
	display: block;
}
.sewol-timeline .timeline-item .item-content .text .text-wrap .description {
	float: left;
	height: 100%;
	width: 67%;
	margin: 0;
	padding: 0;
}
.overlay .sewol-timeline .timeline-item .item-content .text .text-wrap .description {
	float: none;
	width: 100%;
}
.sewol-timeline .timeline-item .item-content .text .text-wrap .description div.inner {
	margin: 0;
	padding: 48px 10%;
	font-family: "함초롱바탕", "NanumMyeongjo", serif;
	font-size: 0.95em;
	color: #202020;
	line-height: 1.8em;
	text-align: justify;
}
.sewol-timeline .timeline-item .item-content .text .text-wrap .description div.inner strong {
	font-weight: bold;
	padding-bottom: 1px;
	border-bottom: 1px solid #2C445A;
}
.sewol-timeline .timeline-item .item-content .text .text-wrap .description div.inner a {
	background: #2C445A;
	color: #fff;
	padding: 3px;
	font-weight: normal;
	text-decoration: none;
}
.sewol-timeline .timeline-item .item-content .text .text-wrap .description div.inner a:hover {
	background: #FEF59C;
	color: #2C445A;
}
.sewol-timeline .timeline-item .item-content .text .text-wrap .description div.inner sup {
	vertical-align: top;
	color: #364E63;
	font-size: 0.79em;
	padding-right: 3px;
}
.sewol-timeline .timeline-item .item-content .text .text-wrap .description div.inner sub {
	vertical-align: baseline;
	color: #364E63;
	font-size: 0.79em;
}
.sewol-timeline .timeline-item .item-content .text .text-wrap .description div.inner figure {
	margin: 1em 0;
}
.sewol-timeline .timeline-item .item-content .text .text-wrap .description div.inner figcaption {
	font-size: 0.8em;
	color: #1D3E5C;
	font-family: 'Apple SD Gothic Neo', 'Nanum Gothic', '나눔고딕', 'NanumGothic', '맑은 고딕', 'Malgun Gothic', sans-serif;
	text-align: right;
}
.sewol-timeline .timeline-item .item-content .text .text-wrap .description div.inner img {
	max-width: 100%;
	display: block;
}
.sewol-timeline .timeline-item .item-content .text .text-wrap .description div.inner iframe {
	width: 100%;
	height: auto;
}
.sewol-timeline .timeline-item .item-content .text .text-wrap .description div.inner dl.reference {
	position: relative;
	margin: 60px 0 0 0;
	padding: 30px;
	font-family: 'Apple SD Gothic Neo', 'Nanum Gothic', '나눔고딕', 'NanumGothic', '맑은 고딕', 'Malgun Gothic', sans-serif;
	border: 1px solid #fff;
	word-break: break-all;
}
.sewol-timeline .timeline-item .item-content .text .text-wrap .description div.inner dl.reference a {
	background: none;
}
.sewol-timeline .timeline-item .item-content .text .text-wrap .description div.inner dl.reference dt {
	position: absolute;
	left: 20px;
	top: -11px;
	display: inline-block;
	background: #95D3C2;
	font-weight: bold;
	color: #2C445A;
	padding: 0 8px;
}
.sewol-timeline .timeline-item .item-content .text .text-wrap .description div.inner dl.reference dd {
	position: relative;
	padding: 0 16px;
	margin: 0;
	line-height: 150%;
}
.sewol-timeline .timeline-item .item-content .text .text-wrap .description div.inner dl.reference dd:before {
	position: absolute;
	left: 0;
	top: 8px;
	display: inline-block;
	width: 6px;
	height: 6px;
	background: #000;
	border-radius: 3px;
	content: '';
}
.sewol-timeline .timeline-item .item-content .text .text-wrap .description div.inner dl.reference dd div {
	padding: 0 0 6px 0;
}
.sewol-timeline .timeline-item .item-content .text .text-wrap .description div.inner dl.reference dd span.credit {
	font-size: 0.9em;
	padding: 4px 4px 3px 4px;
	background: #2C445A;
	color: #FEF59C;
}
.sewol-timeline .timeline-item .item-content .text .text-wrap .description div.inner dl.reference dd div.caption {
	color: #000;
	font-size: 0.9em;
}
.sewol-timeline .timeline-item .item-content .text .text-wrap .description div.inner dl.reference dd div.media a {
	background: none;
	color: #fff;
	border-bottom: 1px dashed;
	font-weight: bold;
	text-decoration: none;
	padding: 0 0 1px 0;
}
.sewol-timeline .timeline-item .item-content .text .text-wrap .description div.inner dl.reference dd div.media a:hover {
	color: #FEF59C;
}
.sewol-timeline .timeline-item .item-content .text .text-wrap .organiztion {
	float: right;
	width: 33%;
}
.overlay .sewol-timeline .timeline-item .item-content .text .text-wrap .organiztion {
	display: none;
}
.sewol-timeline .timeline-item .item-content .text .text-wrap .organiztion dl {
	margin: 0;
	padding: 48px 10%;
}
.sewol-timeline .timeline-item .item-content .text .text-wrap .organiztion dt {
	display: inline-block;
	margin: 0 0 15px 0;
	padding: 0 2px 2px 0;
	font-size: 1.05em;
	font-weight: bold;
	letter-spacing: -0.075em;
	line-height: 100%;
	color: #2C445A;
	border-bottom: 3px solid #2C445A
}
.sewol-timeline .timeline-item .item-content .text .text-wrap .organiztion dd {
	margin:0;
	padding: 11px 0;
}

#fsbb-org-dummy {
	display: none;
}
.fsbb-org-title {
	position: absolute;
	z-index:111;
	margin: 0;
	padding: 0;
	display: inline-block;
	font-size: 1.2em;
}
.fsbb-org-title.animate {
	transition-property: all;
	-webkit-transition-property: all;
	-moz-transition-property: all;
	-ms-transition-property: all;
	-o-transition-property: all;
	transition-duration: 1s;
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-ms-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-delay: 0s;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-ms-transition-delay: 0s;
	-o-transition-delay: 0s;
}
.fsbb-org-title .wrapper {
	position: relative;
	z-index: 1;
}
.fsbb-org-title .wrapper .inner {
}
.fsbb-org-title.animate .wrapper .inner {
	width: 100%;
	height: 100%;
	overflow: hidden;
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
}
.organize {
	position: relative;
	z-index: 1;
	background: #2C445A;
	color: #fff;
	display: inline-block;
	margin: 0;
	padding: 0;
	border: 0;
}
.fsbb-org-title .organize {
	display: block;
	background: #fff;
	color: #2B445A;
}
.fsbb-org-title.animate .organize {
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	overflow: hidden;
}
.organize .btn {
	border: none;
	background: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	cursor: pointer;
	margin: 0;
	padding: 13px 17px;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: -0.05em;
	font-weight: 700;
	outline: none;
	position: relative;
	overflow: hidden;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.organize .btn .after {
	content: '';
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 0;
	top: 50%;
	left: 50%;
	background: #fff;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.organize .btn:hover,
.organize .btn:active {
	color: #2C445A;
}
.organize .btn:hover .after {
	height: 270%;
	opacity: 1;
}
.organize .btn:active .after {
	height: 400%;
	opacity: 1;
}

.organize .btn:before,
.organize h2:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	margin-right: 10px;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.organize.mof .btn:before,
.organize.mof h2:before {
	content: '\e603';
}
.organize.bh .btn:before,
.organize.bh h2:before {
	content: '\e61a';
}
.organize.nis .btn:before,
.organize.nis h2:before {
	content: '\e60e';
}
.organize.haewon .btn:before,
.organize.haewon h2:before {
	content: '\e610';
	font-size: 0.9em;
}
.organize.rimse .btn:before,
.organize.rimse h2:before {
}
.organize.acrc .btn:before,
.organize.acrc h2:before {
	content: '\e60f';
}
.organize.kst .btn:before,
.organize.kst h2:before {
	content: '\e614';
}
.organize.portincheon .btn:before,
.organize.portincheon h2:before {
	content: '\e603';
}
.organize.snskorea .btn:before,
.organize.snskorea h2:before {
}
.organize.kcg .btn:before,
.organize.kcg h2:before {
	content: '\e604';
}
.organize.umi .btn:before,
.organize.umi h2:before {
	content: '\e613';
}
.organize.marsa .btn:before,
.organize.marsa h2:before {
	content: '\e612';
}
.organize.kr .btn:before,
.organize.kr h2:before {
	content: '\e611';
}
.organize.chonghaejin .btn:before,
.organize.chonghaejin h2:before {
	content: '\e617';
	font-size: 1.2em;
	vertical-align: middle;
}
.organize .org-description {
	display: none;
}
.fsbb-org-title.has-description .organize {
	padding: 9%;
}
.fsbb-org-title .organize h2 {
	white-space: nowrap;
	margin: 0 auto;
	padding: 18px 35px;
	font-size: 1.25em;
}
.fsbb-org-title.animate .organize h2 {
	transition: font-size 1s;
	-webkit-transition: font-size 1s;
	-moz-transition: font-size 1s;
	-ms-transition: font-size 1s;
	-o-transition: font-size 1s;
}
.fsbb-org-title.has-description .organize h2 {
	padding: 0 0 30px 0;
}
.fsbb-org-title .organize .org-description {
	display: table;
	padding: 0;
	margin: 0;
	width: 100%;
	line-height: 150%;
	font-size: 0.65em;
}
.fsbb-org-title.has-description .organize .org-description {
	display: block;
}
.fsbb-org-title .organize .org-description:after {
	clear: both;
	content: ' ';
	display: block;
}
.fsbb-org-title .organize .org-description .left {
	display: table-cell;
	width: 50%;
	border-right: 1px dotted #95A2AD;
}
.fsbb-org-title .organize .org-description .right {
	display: table-cell;
	width: 49%;
}
.fsbb-org-title .organize .org-description .left p {
	margin: 0;
	padding: 0 8% 0 0;
}
.fsbb-org-title .organize .org-description .right h3 {
	font-size: 0.95em;
	margin: 0;
	padding: 0 0 0 8%;
}
.fsbb-org-title .organize .org-description .right dl {
	padding: 0 0 0 8%;
	margin: 0;
}
.fsbb-org-title .organize .org-description .right dl dt {
	position: relative;
	margin: 0;
	padding: 0 0 0 12px;
	font-weight: normal;
}
.fsbb-org-title .organize .org-description .right dl dt:before {
	position: absolute;
	left: 0;
	top: 5px;
	width: 5px;
	height: 5px;
	border-radius: 3px;
	background: #000;
	content: '';
}
.fsbb-org-title .organize .org-description .right dl dd {
	margin: 0;
	padding: 0 0 0 12px;
}
.fsbb-org-title .wrapper .icon-close {
	position: absolute;
	z-index: 1000000;
	right: -15px;
	top: -15px;
	width: 30px;
	height: 30px;
	border: 1px solid #fff;
	border-radius: 15px;
	overflow: hidden;
	cursor: pointer;
	background: #2C445A;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.fsbb-org-title .wrapper .icon-close:after {
	position: absolute;
	z-index: 1000001;
	left: 8px;
	top: 7px;
	width: 30px;
	content: '\e619';
	font-size: 15px;
	color: #fff;
}
.fsbb-org-title .wrapper .icon-close:hover {
	background: FEF59C;
	border-color: #FFF200;
}
.fsbb-org-title .wrapper .icon-close:hover:after {
	color: #FFF200;
}
.fsbb-org-title .wrapper .icon-close span {
	display: none;
}

.perfect-scroll {
	position: relative;
	overflow: hidden !important;
	overflow-x: hidden !important;
	overflow-y: hidden !important;
}
.ps-container .ps-scrollbar-y {
	background: #2C445A !important;
}

.infograph {
	position: absolute;
	z-index: 3;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: none;
}
.infograph .wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	transition: all 0.6s;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-ms-transition: all 0.6s;
	-o-transition: all 0.6s;
	transform: translateY(100%);
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	-o-transform: translateY(100%);
}
.infograph .wrapper.active {
	transform: translateY(0);
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
}
#site-main.infographic #headline_title {
	display: none !important;
}   
#site-main.infographic .fsbb-horizontal-wrap {
	display: none !important;
}
#site-main.infographic .fsbb-vertical-wrap {
	display: none !important;
}   
#site-main.infographic .fsbb-vertical-wrap {
	display: none !important;
}   
#site-main.infographic .fsbb-wrapper {
	display: none !important;
}   
#site-main.infographic .infograph {
	display: block;
}

#marsa_structure .org {
	cursor: pointer;
}
#marsa_structure .org h5:before { 
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#marsa_structure #marsa {
	width: 315px;
	color: #fff;
	background: #95D3C2;
	text-align: center;
	margin: 0;
	padding: 40px 18px 18px 18px;
}
#marsa_structure #marsa h5 {
	position: relative;
	display: inline-block;
	font-weight: bold;
	font-size: 1.45em;
	line-height: 100%;
	letter-spacing: -0.05em;
	vertical-align: top;
	margin: 0 0 30px 0;
	padding: 8px 0 0 73px;
}
#marsa_structure #marsa h5:before {
	position: absolute;
	z-index: 5;
	left: 0;
	top: 0;
	font-size: 1.55em;
	content: '\e612';
	padding-right: 10px;
}
#marsa_structure #marsa h6 {
	display: inline-block;
	border: 2px solid #95D3C2;
	text-align: center;
	white-space: nowrap;
	font-size: 0.95em;
	color: #fff;
	letter-spacing: -0.1em;
	background: #2B445A;
	margin: 0 9px;
	padding: 6px 19px 5px 19px;
}
#marsa_structure #marsa h6:hover,
#marsa_structure #marsa h6.hover {
	cursor: pointer;
	border: 2px solid #FBF59B;
}

#marsa_structure .org .org-description {
	display: none;
}

#marsa_structure .org.whitebox {
	text-align: center;
	min-width: 166px;
	background: #fff;
	padding: 30px 35px 20px 35px;
}
#marsa_structure .org.whitebox.active {
	border: 3px solid #FBF59B;
}
#marsa_structure .org.whitebox h5 {
	position: relative;
	display: inline-block;
	font-size: 1.0em;
	color: #2B445A;
	margin: 0;
	padding: 0 0 25px 0;
}
#marsa_structure #umi.org.whitebox h5 {
	padding-left: 72px;
}
#marsa_structure #kcg.org.whitebox h5 {
	padding-left: 52px;
	padding-top: 10px;
}
#marsa_structure #haewon.org.whitebox h5 {
	padding-left: 58px;
}
#marsa_structure #kr.org.whitebox h5 {
	padding-left: 58px;
	padding-top: 10px;
}
#marsa_structure #kst.org.whitebox h5 {
	padding-left: 37px;
	padding-top: 4px;
}
#marsa_structure #mof.org.whitebox h5 {
	padding-left: 30px;
	padding-top: 5px;
}
#marsa_structure .org.whitebox h5:before {
	position: absolute;
	z-index: 5;
	left: 0;
	top: 0;
	font-size: 1.2em;
}
#marsa_structure #umi.org.whitebox h5:before {
	content: '\e613';
}
#marsa_structure #kcg.org.whitebox h5:before {
	font-size: 2.1em;
	content: '\e604';
}
#marsa_structure #haewon.org.whitebox h5:before {
	font-size: 1em;
	content: '\e610';
}
#marsa_structure #kr.org.whitebox h5:before {
	font-size: 1.6em;
	content: '\e611';
}
#marsa_structure #kst.org.whitebox h5:before {
	font-size: 1.4em;
	content: '\e614';
}
#marsa_structure #mof.org.whitebox h5:before {
	font-size: 1.4em;
	content: '\e603';
}
#marsa_structure .org.whitebox ul {
	margin: 0;
	padding: 0;
	list-style: none;
	color: #000;
	line-height: 150%;
}
#marsa_structure #politic.org.whitebox ul {
	text-align: justify;
}
#marsa_structure .org.whitebox ul li {
	font-size: 0.85em;
}
#marsa_structure .org.whitebox ul li label {
	font-weight: bold;
	padding-right:5px;
}
#marsa_structure #politic.org.whitebox ul li label {
	color: #2B445A;
}

@media only screen and (max-width: 768px) {
}
