[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.os-phrases h2 {
	font-family: 'Apple SD Gothic Neo', 'Nanum Gothic', '나눔고딕', 'NanumGothic', '맑은 고딕', 'Malgun Gothic', sans-serif;
	font-size: 150px;
}
.os-phrases h2 > span.word2 > span > span {
	color: #FBF597;
}

#headline_title {
	text-align: center;
}
#headline_title .subtitle {
	display: none;
	margin: 0 auto;
	text-align: center;
	margin-top: 2.5%;
}
#headline_title .subtitle h2 {
	display: inline-block;
	background: #2B445A;
	font-size: 15px;
	color: #fff;
	margin: 0;
	padding: 11px 23px 10px 23px;
}
.quart #headline_title .subtitle,
.bb-mode #headline_title .subtitle {
	display: none;
}

.four-slide .item-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}
.four-slide .item-wrapper .item-inner {
	padding: 5%;
}
.four-slide .item-wrapper .item-inner h2 {
	position: relative;
	cursor: pointer;
	overflow: hidden;
	margin: 0 0 15px 0;
	padding: 0 0 10px 0;
}

.four-slide .item-wrapper .item-inner .summary {
	font-weight: bold;
	line-height: 150%;
}

.four-slide .item-wrapper.hover svg path,
.four-slide .item-wrapper:hover svg path {
	/*fill: #FDF496; */
}

/* bb-bookblock */
.bb-bookblock .item-wrapper .item-inner {
	position: relative;
	padding: 5%;
}
.bb-bookblock .item-wrapper h2 {
	margin: 0;
	font-size: 1.5em;
	font-weight: bold;
	letter-spacing: -0.025em;
	color: #818285;
	padding: 0 0 10px 0;
}
.bb-bookblock .item-wrapper .summary {
	color: #000;
	line-height: 150%;
}
.bb-bookblock .item-wrapper .content {
	line-height: 150%;
	padding-top: 3%;
}
.bb-bookblock .item-wrapper .item-content {
}

.sewol-content-slider {
	background: #95D3C2;
}

.sewol-content-slider .text {
	padding: 15px;
	background: #95D3C2;
}
.sewol-content-slider .icon-close {
	position: absolute;
	z-index: 100000;
	right: 0;
	top: 0;
	width: 30px;
	height: 30px;
	background: #FFF;
	overflow: hidden;
	cursor: pointer;
	opacity: 1;
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-ms-transition: all 0.8s;
	-o-transition: all 0.8s;
}
.sewol-content-slider .icon-close:after {
	position: absolute;
	z-index: 100001;
	left: 8px;
	top: 7px;
	width: 30px;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	content: '\e619';
	font-size: 15px;
	color: #2C445A;
}
.sewol-content-slider .icon-close:hover {
	background: #FEF59C;
}
.sewol-content-slider .icon-close:hover:after {
	color: #2C445A;
}
.sewol-content-slider .icon-close span {
	display: none;
}
.sewol-content-slider .text {
	height: 100%;
	overflow: hidden;
}
.sewol-content-slider .text .text-wrap {
	width: 100%;
	height: 100%;
}
.sewol-content-slider .text .text-wrap:after {
	clear: both;
	content: ' ';
	display: block;
}
.sewol-content-slider .text .text-wrap .description {
	float: left;
	height: 100%;
	width: 67%;
	margin: 0;
	padding: 0;
}
.sewol-content-slider.overlay .text .text-wrap .description {
	float: none;
	width: 100%;
}
.sewol-content-slider .text .text-wrap .description div.inner {
	margin: 0;
	padding: 48px 10%;
	font-family: "HCR Batang", "NanumMyeongjo", serif;
	font-size: 1em;
	color: #202020;
	line-height: 1.8em;
	text-align: justify;
}
.sewol-content-slider .text .text-wrap .description div.inner .pubdate {
	font-family: Helvetica;
	font-weight: bold;
	color: #FBF59B;
}
.sewol-content-slider .text .text-wrap .description div.inner h3.title {
	font-size: 1.8em;
	color: #2C445A;
	font-family: 'Apple SD Gothic Neo', 'Nanum Gothic', '나눔고딕', 'NanumGothic', '맑은 고딕', 'Malgun Gothic', sans-serif;
	line-height: 1.3;
	margin: 0 0 30px 0;
}
.sewol-content-slider .text .text-wrap .description div.inner strong {
	font-weight: bold;
	padding-bottom: 1px;
	border-bottom: 1px solid #2C445A;
}
.sewol-content-slider .text .text-wrap .description div.inner a {
	color: #fff;
	padding: 1px;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px dashed;
}
.sewol-content-slider .text .text-wrap .description div.inner a:hover {
	color: #FEF59C;
}
.sewol-content-slider .text .text-wrap .description div.inner sup {
	vertical-align: top;
	color: #364E63;
	font-size: 0.79em;
	padding-right: 3px;
}
.sewol-content-slider .text .text-wrap .description div.inner sub {
	vertical-align: baseline;
	font-family: 'Apple SD Gothic Neo', 'Nanum Gothic', '나눔고딕', 'NanumGothic', '맑은 고딕', 'Malgun Gothic', sans-serif;
	color: #364E63;
	font-size: 0.79em;
}
.sewol-content-slider .text .text-wrap .description div.inner figure {
	margin: 1em 0;
}
.sewol-content-slider .text .text-wrap .description div.inner figcaption {
	font-size: 0.8em;
	color: #1D3E5C;
	font-family: 'Apple SD Gothic Neo', 'Nanum Gothic', '나눔고딕', 'NanumGothic', '맑은 고딕', 'Malgun Gothic', sans-serif;
	text-align: right;
	line-height: 1.5;
}
.sewol-content-slider .text .text-wrap .description div.inner img {
	max-width: 100%;
	display: block;
}
.sewol-content-slider .text .text-wrap .description div.inner iframe {
	display: block;
	width: 100%;
	height: auto;
	margin: 20px 0;
}
.sewol-content-slider .text .text-wrap .description div.inner ul,
.sewol-content-slider .text .text-wrap .description div.inner blockquote {
	font-size: 0.95em;
	margin: 20px 0;
	background: rgba(0,0,0,0.1);
	padding: 10px 20px 10px 30px;
}
.sewol-content-slider .text .text-wrap .description div.inner dl.reference {
	position: relative;
	margin: 60px 0 0 0;
	padding: 30px;
	font-family: 'Apple SD Gothic Neo', 'Nanum Gothic', '나눔고딕', 'NanumGothic', '맑은 고딕', 'Malgun Gothic', sans-serif;
	border: 1px solid #fff;
	word-break: break-all;
}
.sewol-content-slider .text .text-wrap .description div.inner dl.reference a {
	background: none;
}
.sewol-content-slider .text .text-wrap .description div.inner dl.reference dt {
	position: absolute;
	left: 20px;
	top: -11px;
	display: inline-block;
	background: #95D3C2;
	font-weight: bold;
	color: #2C445A;
	padding: 0 8px;
}
.sewol-content-slider .text .text-wrap .description div.inner dl.reference dd {
	position: relative;
	padding: 0 16px;
	margin: 0;
	line-height: 150%;
}
.sewol-content-slider .text .text-wrap .description div.inner dl.reference dd:before {
	position: absolute;
	left: 0;
	top: 8px;
	display: inline-block;
	width: 6px;
	height: 6px;
	background: #000;
	border-radius: 3px;
	content: '';
}
.sewol-content-slider .text .text-wrap .description div.inner dl.reference dd div {
	padding: 0 0 6px 0;
}
.sewol-content-slider .text .text-wrap .description div.inner dl.reference dd span.credit {
	font-size: 0.9em;
	padding: 1px 4px;
	background: #2C445A;
	color: #FEF59C;
}
.sewol-content-slider .text .text-wrap .description div.inner dl.reference dd div.caption {
	color: #000;
	font-size: 0.9em;
}
.sewol-content-slider .text .text-wrap .description div.inner dl.reference dd div.media a {
	background: none;
	color: #fff;
	border-bottom: 1px dashed;
	font-weight: bold;
	text-decoration: none;
	padding: 0 0 1px 0;
}
.sewol-content-slider .text .text-wrap .description div.inner dl.reference dd div.media a:hover {
	color: #FEF59C;
}
.sewol-content-slider .text .text-wrap .organiztion {
	float: right;
	width: 33%;
}
.sewol-content-slider.overlay .text .text-wrap .organiztion {
	display: none;
}
.sewol-content-slider .text .text-wrap .organiztion dl {
	margin: 0;
	padding: 48px 10%;
}
.sewol-content-slider .text .text-wrap .organiztion dt {
	display: inline-block;
	margin: 0 0 15px 0;
	padding: 0 2px 2px 0;
	font-size: 1.05em;
	font-weight: bold;
	letter-spacing: -0.075em;
	line-height: 100%;
	color: #2C445A;
	border-bottom: 3px solid #2C445A
}
.sewol-content-slider .text .text-wrap .organiztion dd {
	margin:0;
	padding: 11px 0;
}

#fsbb-org-dummy {
	display: none;
}
.fsbb-org-title {
	position: absolute;
	z-index:111;
	margin: 0;
	padding: 0;
	display: inline-block;
	font-size: 1.2em;
}
.fsbb-org-title.animate {
	transition-property: all;
	-webkit-transition-property: all;
	-moz-transition-property: all;
	-ms-transition-property: all;
	-o-transition-property: all;
	transition-duration: 1s;
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-ms-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-delay: 0s;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-ms-transition-delay: 0s;
	-o-transition-delay: 0s;
}
.fsbb-org-title .wrapper {
	position: relative;
	z-index: 1;
}
.fsbb-org-title .wrapper .inner {
}
.fsbb-org-title.animate .wrapper .inner {
	width: 100%;
	height: 100%;
	overflow: hidden;
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
}
.organize {
	position: relative;
	z-index: 1;
	background: #2C445A;
	color: #fff;
	display: inline-block;
	margin: 0;
	padding: 0;
	border: 0;
}
.fsbb-org-title .organize {
	display: block;
	background: #fff;
	color: #2B445A;
}
.fsbb-org-title.animate .organize {
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	overflow: hidden;
}
.organize .btn {
	border: none;
	background: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	cursor: pointer;
	margin: 0;
	padding: 13px 17px;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: -0.05em;
	font-weight: 700;
	outline: none;
	position: relative;
	overflow: hidden;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.organize .btn .after {
	content: '';
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 0;
	top: 50%;
	left: 50%;
	background: #fff;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.organize .btn:hover,
.organize .btn:active {
	color: #2C445A;
}
.organize .btn:hover .after {
	height: 270%;
	opacity: 1;
}
.organize .btn:active .after {
	height: 400%;
	opacity: 1;
}

.organize .btn:before,
.organize h2:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	margin-right: 10px;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.organize.mof .btn:before,
.organize.mof h2:before {
	content: '\e603';
}
.organize.bh .btn:before,
.organize.bh h2:before {
	content: '\e61a';
}
.organize.nis .btn:before,
.organize.nis h2:before {
	content: '\e60e';
}
.organize.haewon .btn:before,
.organize.haewon h2:before {
	content: '\e610';
}
.organize.rimse .btn:before,
.organize.rimse h2:before {
}
.organize.acrc .btn:before,
.organize.acrc h2:before {
	content: '\e60f';
}
.organize.kst .btn:before,
.organize.kst h2:before {
	content: '\e614';
}
.organize.portincheon .btn:before,
.organize.portincheon h2:before {
	content: '\e603';
}
.organize.mospa .btn:before,
.organize.mospa h2:before,
.organize.snskorea .btn:before,
.organize.snskorea h2:before {
	content: '\e61b';
}
.organize.kcg .btn:before,
.organize.kcg h2:before {
	content: '\e604';
}
.organize.umi .btn:before,
.organize.umi h2:before {
	content: '\e613';
}
.organize.marsa .btn:before,
.organize.marsa h2:before {
	content: '\e612';
}
.organize.kr .btn:before,
.organize.kr h2:before {
	content: '\e611';
}
.organize.chonghaejin .btn:before,
.organize.chonghaejin h2:before {
	content: '\e617';
	vertical-align: middle;
}
.organize .org-description {
	display: none;
}
.fsbb-org-title.has-description .organize {
	padding: 9%;
}
.fsbb-org-title .organize h2 {
	white-space: nowrap;
	margin: 0 auto;
	padding: 18px 35px;
	font-size: 1.25em;
}
.fsbb-org-title.animate .organize h2 {
	transition: font-size 1s;
	-webkit-transition: font-size 1s;
	-moz-transition: font-size 1s;
	-ms-transition: font-size 1s;
	-o-transition: font-size 1s;
}
.fsbb-org-title.has-description .organize h2 {
	padding: 0 0 30px 0;
}
.fsbb-org-title .organize .org-description {
	display: table;
	padding: 0;
	margin: 0;
	width: 100%;
	line-height: 150%;
	font-size: 0.65em;
}
.fsbb-org-title.has-description .organize .org-description {
}
.fsbb-org-title .organize .org-description:after {
	clear: both;
	content: ' ';
	display: block;
}
.fsbb-org-title .organize .org-description sub {
	vertical-align: baseline;
}
.fsbb-org-title .organize .org-description .left {
	display: table-cell;
	width: 50%;
	border-right: 1px dotted #95A2AD;
}
.fsbb-org-title .organize .org-description .right {
	display: table-cell;
	width: 49%;
}
.fsbb-org-title .organize .org-description .left p {
	margin: 0;
	padding: 0 8% 0 0;
}
.fsbb-org-title .organize .org-description .right h3 {
	font-size: 0.95em;
	margin: 0;
	padding: 0 0 0 8%;
}
.fsbb-org-title .organize .org-description .right dl {
	padding: 0 0 0 8%;
	margin: 0;
}
.fsbb-org-title .organize .org-description .right dl dt {
	position: relative;
	margin: 0;
	padding: 0 0 0 12px;
	font-weight: normal;
}
.fsbb-org-title .organize .org-description .right dl dt:before {
	position: absolute;
	left: 0;
	top: 5px;
	width: 5px;
	height: 5px;
	border-radius: 3px;
	background: #000;
	content: '';
}
.fsbb-org-title .organize .org-description .right dl dd {
	margin: 0;
	padding: 0 0 0 12px;
}
.fsbb-org-title .wrapper .icon-close {
	position: absolute;
	z-index: 1000000;
	right: 0;
	top: -30px;
	width: 30px;
	height: 30px;
	overflow: hidden;
	cursor: pointer;
	background: #96D3C2;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.fsbb-org-title .wrapper .icon-close:after {
	position: absolute;
	z-index: 1000001;
	left: 8px;
	top: 7px;
	width: 30px;
	content: '\e619';
	font-size: 15px;
	color: #fff;
}
.fsbb-org-title .wrapper .icon-close:hover {
	background: #FEF59C;
}
.fsbb-org-title .wrapper .icon-close:hover:after {
	color: #2C445A;
}
.fsbb-org-title .wrapper .icon-close span {
	display: none;
}
.fsbb-navi-wrap {
	overflow: hidden;
}

.perfect-scroll {
	position: relative;
	overflow: hidden !important;
	overflow-x: hidden !important;
	overflow-y: hidden !important;
}
.ps-container .ps-scrollbar-y {
	background: #2C445A !important;
}

.infograph {
	position: absolute;
	z-index: 203;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: none;
}
.infograph .wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	transition: all 0.6s;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-ms-transition: all 0.6s;
	-o-transition: all 0.6s;
	transform: translateY(100%);
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	-o-transform: translateY(100%);
}
.infograph .wrapper.active {
	transform: translateY(0);
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
}
#site-main.infographic #headline_title {
	display: none !important;
}   
#site-main.infographic .fsbb-horizontal-wrap {
	display: none !important;
}
#site-main.infographic .fsbb-vertical-wrap {
	display: none !important;
}   
#site-main.infographic .fsbb-vertical-wrap {
	display: none !important;
}   
#site-main.infographic .fsbb-wrapper {
	display: none !important;
}   
#site-main.infographic .infograph {
	display: block;
}

#marsa_structure .wrapper .icon-close {
	position: absolute;
	z-index: 1000000;
	right: 0px;
	top: 0px;
	width: 45px;
	height: 45px;
	overflow: hidden;
	cursor: pointer;
	background: #2C445A;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
#marsa_structure .wrapper .icon-close:after {
	position: absolute;
	z-index: 1000001;
	left: 12px;
	top: 10px;
	width: 45px;
	content: '\e619';
	font-size: 23px;
	color: #fff;
}
#marsa_structure .wrapper .icon-close:hover {
	background: #FEF59C;
}
#marsa_structure .wrapper .icon-close:hover:after {
	color: #2C445A;
}
#marsa_structure .wrapper .icon-close span {
	display: none;
}

#marsa_structure .org.innerLink {
	cursor: pointer;
}
#marsa_structure .org h5:before { 
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#marsa_structure #marsa {
	width: 315px;
	color: #fff;
	background: #95D3C2;
	text-align: center;
	margin: 0;
	padding: 40px 18px 18px 18px;
}
#marsa_structure #marsa h5 {
	position: relative;
	display: inline-block;
	font-weight: bold;
	font-size: 1.45em;
	line-height: 100%;
	letter-spacing: -0.05em;
	vertical-align: top;
	margin: 0 0 30px 0;
	padding: 8px 0 0 90px;
}
#marsa_structure #marsa h5:before {
	position: absolute;
	z-index: 5;
	left: 0;
	top: 0;
	font-size: 2em;
	content: '\e612';
	padding-right: 10px;
}
#marsa_structure #marsa h6 {
	display: inline-block;
	border: 2px solid #95D3C2;
	text-align: center;
	white-space: nowrap;
	font-size: 0.95em;
	color: #fff;
	letter-spacing: -0.1em;
	background: #2B445A;
	margin: 0 9px;
	padding: 6px 19px 5px 19px;
}
#marsa_structure #marsa h6:hover,
#marsa_structure #marsa h6.hover {
	cursor: pointer;
	border: 2px solid #FBF59B;
}

#marsa_structure .org .org-description {
	display: none;
}

#marsa_structure .org.whitebox {
	text-align: center;
	min-width: 166px;
	background: #fff;
	padding: 30px 35px 20px 35px;
}
#marsa_structure .org.whitebox.active {
	border: 3px solid #FBF59B;
}
#marsa_structure .org.whitebox h5 {
	position: relative;
	display: inline-block;
	font-size: 1.0em;
	color: #2B445A;
	margin: 0;
	padding: 0 0 25px 0;
}
#marsa_structure #umi.org.whitebox h5 {
	padding-left: 72px;
}
#marsa_structure #kcg.org.whitebox h5 {
	padding-left: 52px;
	padding-top: 10px;
}
#marsa_structure #haewon.org.whitebox h5 {
	padding-left: 58px;
}
#marsa_structure #kr.org.whitebox h5 {
	padding-left: 58px;
	padding-top: 10px;
}
#marsa_structure #kst.org.whitebox h5 {
	padding-left: 37px;
	padding-top: 4px;
}
#marsa_structure #mof.org.whitebox h5 {
	padding-left: 30px;
	padding-top: 5px;
}
#marsa_structure .org.whitebox h5:before {
	position: absolute;
	z-index: 5;
	left: 0;
	top: 0;
	font-size: 1.2em;
}
#marsa_structure #umi.org.whitebox h5:before {
	content: '\e613';
}
#marsa_structure #kcg.org.whitebox h5:before {
	font-size: 2.1em;
	content: '\e604';
}
#marsa_structure #haewon.org.whitebox h5:before {
	font-size: 1em;
	content: '\e610';
}
#marsa_structure #kr.org.whitebox h5:before {
	font-size: 1.6em;
	content: '\e611';
}
#marsa_structure #kst.org.whitebox h5:before {
	font-size: 1.4em;
	content: '\e614';
}
#marsa_structure #mof.org.whitebox h5:before {
	font-size: 1.4em;
	content: '\e603';
}
#marsa_structure .org.whitebox ul {
	margin: 0;
	padding: 0;
	list-style: none;
	color: #000;
	line-height: 150%;
}
#marsa_structure #politic.org.whitebox ul {
	text-align: justify;
}
#marsa_structure .org.whitebox ul li {
	font-size: 0.85em;
}
#marsa_structure .org.whitebox ul li label {
	font-weight: bold;
	padding-right:5px;
}
#marsa_structure #politic.org.whitebox ul li label {
	color: #2B445A;
}

@media only screen and (max-width: 1024px) {
	.sewol-content-slider .text .text-wrap .description {
		float: none;
		width: 100%;
		height: auto;
	}
	.sewol-content-slider .text .text-wrap .organiztion {
		float: none;
		width: 100%;
	}
	.sewol-content-slider .text .text-wrap .organiztion dl {
		padding-top: 0;
	}
	.sewol-content-slider .text .text-wrap .organiztion dt {
		display: block;
	}
	.sewol-content-slider .text .text-wrap .organiztion dd {
		display: inline-block;
	}
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 640px) {
	.os-phrases h2 {
		font-size: 75px;
	}
	#headline_title {
		margin-top: 10%;
		margin-bottom: 7%;
	}
	#headline_title .subtitle {
		display: inline-block;
	}
	.four-slide .item-wrapper .item-inner {
		padding: 0;
	}
	.sewol.cover .fsbb-container {
		margin: 0;
		padding: 0;
	}
	.sewol.cover .four-slide .four-item {
		border-left: 1px solid #E5F4F0;
		padding-left: 35px;
		margin-left: 38px;
		overflow: visible;
	}
	.sewol.quart .four-slide .four-item {
		padding-left: 30px;
		padding-right: 30px;
	}
	.sewol.cover .four-slide .four-item:before {
		position: absolute;
		left: -6px;
		top: 20px;
		display: inline-block;
		width: 1px;
		height: 1px;
		border: 5px solid #FBF59B;
		border-radius: 6px;
		content: ' ';
		background: none;
		transition: all 0.3s;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-ms-transition: all 0.3s;
		-o-transition: all 0.3s;
	}
	.sewol.cover .four-slide .four-item.hover:before,
	.sewol.cover .four-slide .four-item:hover:before {
		left: -10px;
		top: 16px;
		width: 10px;
		height: 10px;
		border-radius: 10px;
	}
	.sewol .four-slide .four-item .subject {
		margin: 0 !important;
		padding: 15px  0 15px 0 !important;
	}
	.sewol.quart .four-slide .four-item .content {
		max-height: none;
	}
	.bb-bookblock .item-wrapper .item-inner {
		padding: 30px 7% 7% 7%;
	}
	.sewol.quart .four-slide .four-item.chapter1-item .content,
	.sewol.quart .four-slide .four-item.chapter2-item .content {
		margin-top: 10px;
	}
	.fsbb-org-title {
		position: relative;
		margin-bottom: 30px;
	}
	.fsbb-org-title.has-description .organize {
		padding: 16px;
	}
	.fsbb-org-title.animate .wrapper .inner {
	}
	.fsbb-org-title .organize .org-description {
		display: block;
	}
	.fsbb-org-title .organize .org-description .left {
		display: block;
		width: 100%;
		padding-bottom: 26px;
		border-right: 0;
		border-bottom: 1px dotted #95A2AD;
	}
	.fsbb-org-title .organize .org-description .right {
		display: block;
		width: 100%;
		padding-top: 22px;
	}
	.fsbb-org-title .organize .org-description .right h3,
	.fsbb-org-title .organize .org-description .right dl {
		padding: 0;
	}
	#marsa_structure {
	}
	#marsa_structure #marsa {
		display: inline-block;
		max-width: 66%;
		margin: 35px 10% 6px 10%;
	}
	#marsa_structure #marsa h5 {
	}
	#marsa_structure #marsa h6 {
		display: none;
	}
	#marsa_structure h6.category {
		margin: 12px 10%;
		padding: 0;
		color: #fff;
		font-size: 1.1em;
		letter-spacing: -0.05em;
	}
	#marsa_structure .org.whitebox {
		display: inline-block;
		margin: 6px 10%;
		max-width: 66%;
	}
	#marsa_structure .org.whitebox:after {
		clear:both;
		content: ' ';
		display: block;
	}
	#marsa_structure .org.whitebox h5 {
		float: left;
		padding-top: 3px;
		margin-right: 50px;
	}
	#marsa_structure .org.whitebox ul {
		float: left;
	}
}

@media only screen and (max-width: 480px) {
	.os-phrases h2 {
		font-size: 50px;
	}
	#marsa_structure #marsa {
		padding: 18px 18px 8px 18px;
	}
}
